body{
font-family: 'Poppins', sans-serif;
font-family: 'Vollkorn', serif;
background-image: url(images/tmakeup.jpg);
}
.humayra{
   color: palevioletred;
}
.ayon{
   color: darkmagenta;
}
section{

   display: flex;

}
